@import '../../../styles';

h2 {
    @include h2-style;
    margin-bottom: 32;
}

.about-me-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-left: 96px;
    padding-right: 96px;
    gap: 32px;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.about-me-image-container,
.about-me-content {
    flex: 1 1 0;
    min-width: 320px;
    max-width: 50%;
}

@media (max-width: 900px) {
    .about-me-section {
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
        gap: 24px;
    }
    .about-me-image-container,
    .about-me-content {
        max-width: 100%;
    }
}

.about-me-image-container {
    position: relative;
    width: 600px;
    height: 600px;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.about-me-image {
    width: 568px;
    height: 568px;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 2;
    transition: filter 0.3s;
}

.about-me-image-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../../public/about-me/Capa_1.png') center/cover no-repeat;
    opacity: 0;
    border-radius: 24px;
    z-index: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.about-me-image-container:hover .about-me-image-bg {
    opacity: 1;
}

.about-me-content {
    width: 568px;
    height: 588px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 16px;
    background-color: transparent;

    > h3 {
        @include h3-style;
        margin-bottom: 32px;
    }
}


.about-me-textbox {
    background: $ci-green-10;
    border: 2px solid $ci-green;
    border-radius: 16px;
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    color: #fff;
    gap: 40px;
    padding: 32px ;
 
}


.about-me-textbox * {
  background: transparent;
}


.about-me-text {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-top: 18px;
       > p {
        font-family: 'Karla', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        line-height: 150%;
        margin: 0;
        background-color: transparent;
    }
}

.about-me-icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background-color: transparent;
}